<p>{{msg|uppercase}}</p>
<br>
<p>{{msg|lowercase}}</p>
<br>
<br>
<h2>Today's Date:{{todayDate}}</h2>

<h3>Today's Date:{{todayDate|date}}</h3>
<h3>Today's Date:{{todayDate|date:'shortDate'}}</h3>
<h3>Today's Date:{{todayDate|date:'mediumDate'}}</h3>
<h3>Today's Date:{{todayDate|date:'dd-MM-yyyy'}}</h3>

<br>
<p>Employeedeatail's Salary:{{Employeedeatails.salary|currency}}</p>
<h3>Employeedeatail's Salary:{{Employeedeatails.salary|currency:'INR'}}</h3>
<p>Employeedeatail's Salary:{{Employeedeatails.salary|currency:'EUR'}}</p>
<p>Employeedeatail's Salary:{{Employeedeatails.salary|currency:'NZD'}}</p>
<br>
<h3>Employees's Income:{{Employeedeatails.Income|number}}</h3>
<h3>Employees's Income:{{Employeedeatails.Income|number:'5.2-2'}}</h3>
<h3>Employees's Income:{{Employeedeatails.Income|number:'5.1-3'}}</h3>

<h3>{{msg|titlecase}}</h3>



